<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head_js %}
<script type="text/javascript">
    $(function(){
            /* Maneja el submit del ordenamiento.*/
            $(".orden").click(function (){
                var sentido_orden = $(this).attr('data-sentido-orden');
                $("#id_sentido_orden").val(sentido_orden);
                var url = $(this).attr('data-url');
                $("#form-orden-campos").attr('action', url);
                $("#form-orden-campos").submit();
            });
    
            /* Maneja la adicion de un item a la lista */
            $("#agregar_lista").click(function (){
                $('#value_item_error').hide();
                $('#repeticion_item_error').hide();
                var item = $('#id_value_item').val();
                var list = $('#id_list_values').val();
                if (item == ''){
                    $('#value_item_error').show();
                }
                else {
                    var lista = [];
                    $('#id_list_values').find('option').each(function(){  lista.push($(this).val()); });
                    if (lista.indexOf(item)== -1){
                        $('#id_list_values').append($("<option>").val(item).html(item));
                        $('#id_value_item').val("");
                        lista.push(item);
                        $("#id_values_select").val(JSON.stringify(lista));        
                    }
                    else {
                        $('#repeticion_item_error').show();
                    }
                    
                }
            });

            $("#eliminar_lista").click(function (){
                var list_values = document.getElementById("id_list_values");
                var opt_seleccionados = list_values.selectedOptions;
                var z = 0;
                var length = opt_seleccionados.length;
                 while (z < length) {
                    var child = opt_seleccionados[0];
                        list_values.removeChild(child);
                    z++;
                   }
            });
            $("#id_tipo").change(function() {
                if( $("#id_tipo").val() == 3 ) {

                    $("#lista_control").slideDown('fast');
                    $("#separador_lista_control").slideDown('fast');
                    $("#id_value_item").removeAttr('disabled');
                    $("#id_list_values").removeAttr('disabled');
                    $("#agregar_lista").removeAttr('disabled');
                    $("#eliminar_lista").removeAttr('disabled');
                } else {
                    $("#lista_control").slideUp('fast');
                    $("#separador_lista_control").slideUp('fast');
                    $("#id_value_item").attr('disabled', true);
                    $("#id_list_values").attr('disabled', true);
                    $("#agregar_lista").attr('disabled', true);
                    $("#eliminar_lista").attr('disabled', true);

                }
            });

            /**/

    });
    </script>
{% endblock %}
{% block content %}

<h1>{% trans 'Nuevo formulario' %}</h1>

<ul class="nav nav-indicators">
    <li class="disabled"><a>{% trans 'Nuevo Formulario' %}</a></li>
    <li class="active"><a>{% trans 'Campos del formulario' %}</a></li>
    <li class="disabled"><a>{% trans 'Vista  previa del formulario' %}</a></li>
</ul>

<form action="" enctype="multipart/form-data" method="post">
                {% csrf_token %}
    <h2>{% trans 'Nuevo campo' %}</h2>
    {{ form.non_field_errors }}
    {{ form.formulario }}
    {{ form.values_select }}
    {{form.values_select.errors}}
    <div class="form-row">
        <div class="col-md-4">
            <label for="{{ form.nombre_campo.id_for_label }}">{% trans 'Nombre de campo:' %}</label>
            {{ form.nombre_campo }}
            {{ form.nombre_campo.errors }}
        </div>
        <div class="col-md-4">
            <label for="{{ form.tipo.id_for_label }}">{% trans 'Tipo:' %}</label>
            {{ form.tipo}}
            {{ form.tipo.errors }}
        </div>
        <div class="col-md-4">
            <label for="{{ form.tipo.id_for_label }}">{% trans 'Campo requerido:' %}</label>
            {{ form.is_required}}
            {{ form.is_required.errors }}
        </div>
    </div>
    <button type="submit" id="id_guardar" class="btn btn-outline-primary ">
        {% trans 'Agregar campo' %}
        
    </button>
    <br>
    <br>
    <span id="value_item_error" class="alert alert-danger" style="display: none;">
        {% trans "No ingrese un item vacío" %}
    </span>
    <span id="repeticion_item_error" class="alert alert-danger" style="display: none;">
        {% trans "No se puede agregar items repetidos " %}
    </span>
    <hr id="separador_lista_control" style="display: none;">
    <div class="form-row" id="lista_control" style="display: none;">
        <div class="col-md-6">
              {{ form.value_item}}
              <br>
              <a id="agregar_lista" class="btn btn-outline-primary" disabled="disabled">{% trans 'Agregar item' %}</a>
              <a id="eliminar_lista" class="btn btn-outline-danger" disabled="disabled">{% trans 'Eliminar seleccionados' %}</a>
        </div>
        <div class="col-md-6">
            {{ form.list_values}}
            {{ form.list_values.errors }}
        </div>
    </div>

</form>
<hr>
<br>
<div>
                {% if formulario %}
                    <h2>{% trans 'Campos del formulario' %}</h2>
                    <table class="table">
                        <thead>
                        <tr class="fts-table-bg">
                            <th>{% trans 'Orden' %}</th>
                            <th>{% trans 'Nombre de campo' %}</th>
                            <th>{% trans 'Tipo' %}</th>
                            <th>{% trans 'Campo requerido' %}</th>
                            <th>{% trans 'Valores de la lista' %}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for campo in formulario.campos.all %}
                                <tr>
                                    <td>
                                        <span class="badge va-top mg-top-5">{{ forloop.counter }}</span>
                                    </td>
                                    <td>{{ campo.nombre_campo }} </td>
                                    <td>{{ campo.get_tipo_display }}</td>
                                                                        <td>
                                        {% if campo.is_required %}
                                            <span class="icon icon-check" aria-hidden="true"></span>
                                        {% else %}
                                            <span class="icon icon-cancel" aria-hidden="true"></span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if campo.tipo == 3 %}
                                            {{ campo.values_select }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownActions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            {% trans 'Opciones' %}
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownActions">
                                                {% if not forloop.last %}
                                                        <button class="dropdown-item orden" data-url="{% url 'campo_formulario_orden' formulario.pk campo.pk %}" data-sentido-orden="{{ ORDEN_SENTIDO_DOWN }}" type="button">
                                                            <span class="icon icon-chevron-down"></span>{% trans 'Mover abajo' %}
                                                        </button>
                                                {% endif %}
                                                {% if not forloop.first %}
                                                    <button class="dropdown-item orden" data-url="{% url 'campo_formulario_orden' formulario.pk campo.pk %}" data-sentido-orden="{{ ORDEN_SENTIDO_UP }}" type="button">
                                                        <span class="icon icon-chevron-up"></span>{% trans 'Mover arriba' %}
                                                    </button>
                                                {% endif %}
                                                <a class="dropdown-item" href="{% url 'formulario_field_delete' formulario.pk campo.pk %}">
                                                    <span class="icon icon-trash" aria-hidden="true"></span>{% trans 'Eliminar' %}
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                             {% empty %}
                                <tr>
                                    <td colspan="4">
                                        <p>
                                            <em>{% trans 'No se encontraron campos creados.' %}</em>
                                        </p>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
    <form role="form" method="post" action="" id="form-orden-campos">
        {% csrf_token %}
        {{ form_orden_campos.non_field_errors }}
    {{ form_orden_campos.sentido_orden }}
    </form>
                {% endif %}



</div>

    <div>
        <hr>
        <a class="btn btn-primary" role="button" href="{% url 'formulario_vista_previa' formulario.pk %}">
            {% trans 'Continuar' %}
        </a>
    </div>

{% endblock %}
