<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head_js %}
<script type="text/javascript" src="{% static 'ominicontacto/JS/jquery-ui.min.js' %}"></script>
<script type="text/javascript">

    function guardarOrden() {
        var orden = $("#rutas_salientes").sortable("toArray");
        $("#orden").val(JSON.stringify(orden));
        $("#form_ordenar").submit();
    };

    $( function() {
        $("#rutas_salientes").sortable();
    });

</script>
{% endblock %}

{% block content %}
<h1>{% trans 'Rutas Salientes' %}</h1>

<form id="form_ordenar" action="{% url 'ordenar_rutas_salientes' %}" method="post"> 
    {% csrf_token %}
    <input type="hidden" name="orden" id="orden">
</form>

<table class="table">
    <thead>
        <tr>
            <th>{% trans 'ID' %}</th>
            <th>{% trans 'Nombre' %}</th>
            <th>{% trans 'Tiempo ring' %}</th>
            <th colspan="2">{% trans 'Opciones de discado' %}</th>
        </tr>
    </thead>
    <tbody id="rutas_salientes">
    {% for ruta_saliente in rutas_salientes %}
        <tr id="{{ ruta_saliente.id }}">
            <td>{{ ruta_saliente.id }}</td>
            <td><a href="{% url 'editar_ruta_saliente' ruta_saliente.id %}">{{ ruta_saliente.nombre }}</a></td>
            <td>{{ ruta_saliente.ring_time }}</td>
            <td>{{ ruta_saliente.dial_options }}</td>
            <td>
                <a class="dropdown-item" href="{% url 'eliminar_ruta_saliente' ruta_saliente.pk %}">
                    <span class="icon icon-trash"></span>{% trans 'Eliminar' %}
                </a>
            </td>
        </tr>
   {% empty %}
    <tr>
        <td>{% trans 'No hay rutas salientes configuradas' %}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<a class="btn btn-light btn-sm" href="{% url 'crear_ruta_saliente' %}" >{% trans 'Agregar ruta saliente' %}</a>
<a class="btn btn-light btn-sm" href="javascript:;" onclick="guardarOrden();">{% trans 'Guardar Orden' %}</a>
{% endblock %}
