<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% load staticfiles %}
{% load compress %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% trans 'Omnileads' %} {% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'ominicontacto/Img/favicon.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /    >
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'bootstrap-4.0.0/css/bootstrap.min.css' %}" >
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'ominicontacto/CSS/bootstrap-datetimepicker.min.css' %}"></link>
    <link rel="stylesheet" href="{% static 'ominicontacto/CSS/daterangepicker.css' %}"></link>
    <link rel="stylesheet" href="{% static 'ominicontacto/CSS/admin.css' %}">
    {% block extra_css %}{% endblock %}
    <!-- Fonts -->
    <link rel="stylesheet" href="{% static 'ominicontacto/CSS/google-font.css' %}">
    <link rel="stylesheet" href="{% static 'ominicontacto/CSS/fa-solid.css' %}">
    <link rel="stylesheet" href="{% static 'ominicontacto/CSS/fa-regular.css' %}">
    <link rel="stylesheet" href="{% static 'ominicontacto/CSS/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'ominicontacto/CSS/oml-icons.css' %}">
    <link rel="stylesheet" href="{% static 'ominicontacto/CSS/jquery.growl.css' %}">
    <!-- jquery UI -->
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    <script src="{% static 'ominicontacto/JS/l18n_constantes.js' %}"></script>
    {% if ALLOW_FEEDBACK  %}
        <script type="text/javascript" src="https://freetechsolutions.atlassian.net/s/d41d8cd98f00b204e9800998ecf8427e-T/-wkh05n/b/48/a44af77267a987a660377e5c46e0fb64/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=55b63c95"></script>
    {% endif %}
    {% compress js %}
    <script src="{% static 'jquery-2.2.4.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'bootstrap-4.0.0/js/bootstrap.bundle.min.js' %}"></script>
    <!-- External libs -->
    <script type="text/javascript" src="{% static 'django_js_reverse/js/reverse.js' %}"></script>
    <script type="text/javascript" src="{% static 'ominicontacto/JS/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'ominicontacto/JS/moment-with-locales.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'ominicontacto/JS/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'ominicontacto/JS/daterangepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'ominicontacto/JS/ranges-datepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'ominicontacto/JS/djangoStyle.js' %}"></script>
    <script type="text/javascript" src="{% static 'ominicontacto/JS/jquery.growl.js' %}"></script>
    {% endcompress %}
    {% block head_js %}
    {% endblock %}

</head>
<body>
    <div class="wrapper-main">
      {% if user.is_authenticated and user.get_tiene_permiso_administracion %}
        <nav id="sidebar">
            <div class="sidebar-header">
                <a href="{% url 'index' %}">
                  <img src="{% static 'ominicontacto/Img/ic_logo.png' %}" id="nav-logo">
                  <img src="{% static 'ominicontacto/Img/ic_logo_symbol.png' %}" id="nav-logo-symbol">
                </a>
            </div>

            <ul id="nav-main-menu" class="list-unstyled">

                {% if user.get_es_administrador_o_supervisor_normal %}
                <li class="main-menu-li">
                    <span class="icon icon-user"></span>
                    <a class="menu-header" href="#menuUsersGroups" role="button" data-toggle="collapse" aria-expanded="false">{% trans 'Usuarios y grupos' %} </a>
                    <ul class="collapse list-unstyled submenu" id="menuUsersGroups" data-parent="#nav-main-menu">
                        <li>
                            <a href="#menuUsers" role="button" data-toggle="collapse" aria-expanded="false">{% trans 'Lista de usuarios' %} </a>
                            <ul class="collapse list-unstyled submenu-two" id="menuUsers" data-parent="">
                                <li>
                                    <a href="{% url 'user_list' page=1 %}">{% trans 'Usuarios' %}</a>
                                </li>
                                <li>
                                    <a href="{% url 'user_nuevo' %}">{% trans 'Nuevo Usuario' %}</a>
                                </li>
                                <li>
                                    <a href="{% url 'agente_list' %}">{% trans 'Agentes' %}</a>
                                </li>
                                {% if user.get_is_administrador %}
                                <li>
                                    <a href="{% url 'supervisor_list' %}">{% trans 'Supervisores' %}</a>
                                </li>
                                {% endif %}
                            </ul>
                        </li>

                        <li>
                            <a href="{% url 'grupo_list' %}">{% trans 'Grupos de agentes' %}</a>
                        </li>

                        <li>
                            <a href="{% url 'grupo_nuevo' %}">{% trans 'Nuevo Grupo de agentes' %}</a>
                        </li>

                    </ul>
                </li>
                {% endif %}

                {% if user.get_is_administrador %}
                <li class="main-menu-li">
                    <span class="icon icon-module"></span>
                    <a class="menu-header" href="#menuModules" role="button" data-toggle="collapse" aria-expanded="false">
                      {% trans 'Módulos' %}</a>
                    <ul class="collapse list-unstyled submenu" id="menuModules" data-parent="#nav-main-menu">
                        <li>
                            <a href="{% url 'modulo_list' %}">{% trans 'Módulos disponibles' %}</a>
                        </li>
                        <li>
                            <a href="{% url 'modulo_nuevo' %}">{% trans 'Habilitar Módulo' %}</a>
                        </li>
                    </ul>
                </li>
                {% endif %}

                {% if user.get_es_administrador_o_supervisor_normal %}
                <li class="main-menu-li">
                    <span class="icon icon-audio-file"></span>
                    <a class="menu-header" href="#menuAudio" role="button" data-toggle="collapse" aria-expanded="false">{% trans 'Audios' %}</a>
                    <ul class="collapse list-unstyled submenu" id="menuAudio" data-parent="#nav-main-menu">
                        <li>
                            <a href="{% url 'lista_archivo_audio' %}">{% trans 'Lista de Audios' %}</a>
                        </li>
                        <li>
                            <a href="{% url 'create_archivo_audio' %}">{% trans 'Nuevo audio' %}</a>
                        </li>
                    </ul>
                </li>
                {% endif %}

                <li class="main-menu-li">
                    <span class="icon icon-campaign"></span>
                    <a class="menu-header" href="#menuCampaign" role="button" data-toggle="collapse" aria-expanded="false">{% trans 'Campañas' %}</a>
                    <ul class="nav-submenu collapse list-unstyled submenu" id="menuCampaign" data-parent="#nav-main-menu">
                        <li>
                            <a href="#menuCampaignDialer" role="button" data-toggle="collapse" aria-expanded="false">{% trans 'Campañas dialer' %}</a>
                            <ul class="collapse list-unstyled submenu-two" id="menuCampaignDialer" data-parent=".nav-submenu">
                                <li>
                                    <a href="{% url 'campana_dialer_list' %}">{% trans 'Listado de campañas' %}</a>
                                </li>
                                {% if user.get_es_administrador_o_supervisor_normal %}
                                <li>
                                    <a href="{% url 'campana_dialer_create' %}">{% trans 'Nueva campaña' %}</a>
                                </li>
                                <li>
                                    <a href="{% url 'lista_campana_dialer_template' %}">{% trans 'Templates' %}</a>
                                </li>
                                <li>
                                    <a href="{% url 'campana_dialer_template_create' %}">{% trans 'Nuevo template' %}</a>
                                </li>
                                {% endif %}
                            </ul>
                        </li>
                        <li>
                            <a href="#menuCampaignPreview" role="button" data-toggle="collapse" aria-expanded="false">{% trans 'Campañas preview' %}</a>
                            <ul class="collapse list-unstyled submenu-two" id="menuCampaignPreview" data-parent=".nav-submenu">
                                <li>
                                    <a href="{% url 'campana_preview_list' %}">{% trans 'Listado de campañas' %}</a>
                                </li>
                                {% if user.get_es_administrador_o_supervisor_normal %}
                                <li>
                                    <a href="{% url 'campana_preview_create' %}">{% trans 'Nueva campaña' %}</a>
                                </li>
                                <li>
                                    <a href="{% url 'campana_preview_template_list' %}">{% trans 'Templates' %}</a>
                                </li>
                                <li>
                                    <a href="{% url 'campana_preview_template_create' %}">{% trans 'Nuevo Template'%}</a>
                                </li>
                                {% endif %}
                            </ul>
                        </li>

                        <li>
                            <a href="#menuCampaignIn" role="button" data-toggle="collapse" aria-expanded="false">{% trans 'Campañas entrantes' %}</a>
                            <ul class="collapse list-unstyled submenu-two" id="menuCampaignIn" data-parent=".nav-submenu">
                                <li>
                                    <a href="{% url 'campana_list' %}">{% trans 'Listado  de campañas' %}</a>
                                </li>
                                {% if user.get_es_administrador_o_supervisor_normal %}
                                <li>
                                    <a href="{% url 'campana_nuevo' %}">{% trans 'Nueva campaña' %}</a>
                                </li>
                                <li>
                                    <a href="{% url 'campana_entrante_template_list' %}">{% trans 'Templates' %}</a>
                                </li>
                                <li>
                                    <a href="{% url 'campana_entrante_template_create' %}">{% trans 'Nuevo template'%}</a>
                                </li>
                                {% endif %}
                            </ul>
                        </li>

                        <li>
                            <a href="#menuCampaignManual" role="button" data-toggle="collapse" aria-expanded="false">{% trans 'Campañas manuales' %} </a>
                            <ul class="collapse list-unstyled submenu-two" id="menuCampaignManual" data-parent=".nav-submenu">
                                <li>
                                    <a href="{% url 'campana_manual_list' %}">{% trans 'Listado de campañas' %}</a>
                                </li>
                                {% if user.get_es_administrador_o_supervisor_normal %}
                                <li>
                                    <a href="{% url 'campana_manual_create' %}">{% trans 'Nueva campaña' %}</a>
                                </li>
                                <li>
                                    <a href="{% url 'campana_manual_template_list' %}">{% trans 'Templates' %}</a>
                                </li>
                                <li>
                                    <a href="{% url 'campana_manual_template_create' %}">{% trans 'Nuevo Template'%}</a>
                                </li>
                                {% endif %}
                            </ul>
                        </li>

                        {% if user.get_es_administrador_o_supervisor_normal %}
                        <li>
                            <a href="#menuQualifications" role="button" data-toggle="collapse" aria-expanded="false">{% trans 'Calificaciones' %}</a>
                            <ul class="collapse list-unstyled submenu-two" id="menuQualifications" data-parent=".nav-submenu">
                                <li>
                                    <a href="{% url 'calificacion_list' %}">{% trans 'Listado de calificaciones' %}</a>
                                </li>
                                <li>
                                    <a href="{% url 'calificacion_nuevo' %}">{% trans 'Nueva Calificación' %}</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#menuForms" role="button" data-toggle="collapse" aria-expanded="false">{% trans 'Formularios' %}</a>
                            <ul class="collapse list-unstyled submenu-two" id="menuForms" data-parent=".nav-submenu">
                                <li>
                                    <a href="{% url 'formulario_nuevo' %}">{% trans 'Nuevo formulario' %}</a>
                                </li>
                                <li>
                                    <a href="{% url 'formulario_list' %}">{% trans 'Listado de formularios' %}</a>
                                </li>
                            </ul>
                        </li>
                        {% endif %}


                        {% if user.get_is_administrador %}
                        <li>
                            <a href="#menuSites" role="button" data-toggle="collapse" aria-expanded="false">{% trans 'Sitios Externos' %}</a>
                            <ul class="collapse list-unstyled submenu-two" id="menuSites" data-parent=".nav-submenu">
                                <li>
                                    <a href="{% url 'sitio_externo_create' %}">{% trans 'Nuevo sitio' %}</a>
                                </li>
                                <li>
                                    <a href="{% url 'sitio_externo_list' %}">{% trans 'Listado de sitios' %}</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#menuSystems" role="button" data-toggle="collapse" aria-expanded="false">{% trans 'Sistemas Externos' %}</a>
                            <ul class="collapse list-unstyled submenu-two" id="menuSystems" data-parent=".nav-submenu">
                                <li>
                                    <a href="{% url 'sistema_externo_create' %}">{% trans 'Nuevo sistema' %}</a>
                                </li>
                                <li>
                                    <a href="{% url 'sistema_externo_list' %}">{% trans 'Listado de sistemas' %}</a>
                                </li>
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                </li>

                {% if user.get_es_administrador_o_supervisor_normal %}
                <li class="main-menu-li">
                    <span class="icon icon-pause"></span>
                    <a class="menu-header" href="#menuBreaks" role="button" data-toggle="collapse" aria-expanded="false">{% trans 'Pausas' %}</a>
                    <ul class="collapse list-unstyled submenu" id="menuBreaks" data-parent="#nav-main-menu">
                        <li>
                            <a href="{% url 'pausa_list' %}">{% trans 'Listado de pausas' %}</a>
                        </li>
                        <li>
                            <a href="{% url 'pausa_nuevo' %}">{% trans 'Nueva pausa' %}</a>
                        </li>
                    </ul>
                </li>

                <li class="main-menu-li">
                    <span class="icon icon-contacts"></span>
                    <a class="menu-header" href="#menuContacts" role="button" data-toggle="collapse" aria-expanded="false">{% trans 'Contactos' %}</a>
                    <ul class="collapse list-unstyled submenu" id="menuContacts" data-parent="#nav-main-menu">
                        <li>
                            <a href="{% url 'lista_base_datos_contacto' %}">{% trans 'Base de datos de contactos' %}</a>
                        </li>
                        <li>
                            <a href="{% url 'nueva_base_datos_contacto' %}">{% trans 'Nueva base de datos de contactos' %}</a>
                        </li>

                        {% if user.get_is_administrador %}
                        <hr>
                        <li>
                            <a href="{% url 'back_list_list' %}">{% trans 'Blacklists' %}</a>
                        </li>
                        <li>
                            <a href="{% url 'back_list_create' %}">{% trans 'Nueva Blacklist' %}</a>
                        </li>
                        {% endif %}

                    </ul>
                </li>
                {% endif %}

                <li class="main-menu-li">
                    <span class="icon icon-search"></span>
                    <a class="menu-link" href="{% url 'grabacion_buscar' 1 %}">{% trans 'Buscar Grabación' %}</a>
                </li>

                <li class="main-menu-li">
                    <span class="icon icon-graph"></span>
                    <a class="menu-header"class="menu-header" href="#menuReports" role="button" data-toggle="collapse" aria-expanded="false">{% trans 'Reportes' %}</a>
                    <ul class="collapse list-unstyled submenu" id="menuReports" data-parent="#nav-main-menu">
                        <li>
                            <a href="{% url 'reporte_llamadas' %}">{% trans 'Llamadas' %}</a>
                        </li>
                        <li>
                            <a href="{% url 'reportes_agentes_tiempos' %}">{% trans 'Agentes' %}</a>
                        </li>
                        <li>
                            {# <a href="#">IM</a> #}
                        </li>
                    </ul>
                </li>

                {% if user.get_supervisor_profile  %}
                <li class="main-menu-li">
                    <span class="icon icon-headset"></span>
                    <a class="menu-header" href="#menuSupervise" role="button" data-toggle="collapse" aria-expanded="false">Supervision</a>
                    <ul class="collapse list-unstyled submenu" id="menuSupervise" data-parent="#nav-main-menu">
                        <li>
                            <a href="{% url 'supervision_agentes' %}">{% trans 'Agentes' %}</a>
                        </li>
                        <li>
                            <a href="{% url 'supervision_campanas_entrantes' %}">{% trans 'Campañas Entrantes' %}</a>
                        </li>
                        <li>
                            <a href="{% url 'supervision_campanas_salientes' %}">{% trans 'Campañas Salientes' %}</a>
                        </li>
                    </ul>
                </li>
                {% endif %}

                {% if user.get_es_administrador_o_supervisor_normal %}
                <li class="main-menu-li">
                    <span class="icon icon-phone"></span>
                    <a class="menu-header" href="#menuTelefonia" role="button" data-toggle="collapse" aria-expanded="false">{% trans 'Telefonía' %}</a>
                    <ul class="collapse list-unstyled submenu" id="menuTelefonia" data-parent="#nav-main-menu">
                        {% if user.get_is_administrador %}
                            <li>
                                <a href="{% url 'lista_troncal_sip' %}">{% trans 'Troncales SIP' %}</a>
                            </li>
                            <li>
                                <a href="{% url 'lista_rutas_entrantes' %}">{% trans 'Rutas entrantes' %}</a>
                            </li>
                            <li>
                                <a href="{% url 'lista_rutas_salientes' %}">{% trans 'Rutas salientes' %}</a>
                            </li>
                            <li>
                                <a href="{% url 'lista_ivrs' %}">{% trans 'IVR' %}</a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="{% url 'lista_grupos_horarios' %}">{% trans 'Grupos horarios' %}</a>
                        </li>
                        <li>
                            <a href="{% url 'lista_validaciones_fecha_hora' %}">{% trans 'Validaciones Horarias' %}</a>
                        </li>
                        <li>
                            <a href="{% url 'lista_identificador_cliente' %}">{% trans 'Identificación de Clientes' %}</a>
                        </li>
                    </ul>
                </li>
                {% endif %}

                <li class="main-menu-li">
                    <span class="icon icon-info"></span>
                    <a class="menu-header" href="#menuAyuda" role="button" data-toggle="collapse" aria-expanded="false">{% trans 'Ayuda' %}</a>
                    <ul class="collapse list-unstyled submenu" id="menuAyuda" data-parent="#nav-main-menu">
                        {% if user.get_is_administrador %}
                            <li>
                                <a href="{% url 'registrar_usuario' %}">{% trans 'Registrarse' %}</a>
                            </li>
                        {% endif %}
                        <li>
                            <a class="menu-link" href="{% url 'acerca' %}">{% trans 'Acerca de' %}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
      {% endif %}

        <div class="wrapper-content">
            {% if user.is_authenticated %}
                <div id="topbar">
                    <div class="nav">
                        <button type="button" id="sidebarCollapse" class="btn">
                            <span class="fas fa-bars"></span>
                        </button>
                        {% include 'cambiar_idioma.html' %}
                        <div id="nav-user">
                            <a>{{ user.get_full_name }}</a>
                            <a class="btn" href="{% url 'logout' %}" title="{% trans 'Deslogueo' %}">{% trans 'Salir' %}</a>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="wrapper-info">
            {% include 'messages.html' %}
                {% if user.is_authenticated  %}
                    {% if user.get_tiene_permiso_administracion  %}
                       {% block content %}
                       {% endblock %}
                    {% else %}
                        <div class="alert alert-warning">
                            <h1>{% trans 'Permiso denegado' %}</h1>
                            <p>{% trans 'Ud. no posee los permisos requeridos para acceder a esta pagina.' %}</p>
                        </div>
                    {% endif %}
                {% else %}
                    {% block logueo %}
                    {% endblock %}
                {% endif %}
            </div>
        </div>
    </div>
{% block extra_js %}{% endblock %}

<!-- Cambiar idioma -->
<script type="text/javascript" src="{% static 'ominicontacto/JS/idioma.js' %}"></script>

<script type="text/javascript">
$(document).ready(function () {

    /* Toggle */
    $('#sidebarCollapse').on('click',function(){
        $('#sidebar').toggleClass('active');

    });

    //Toogle sidebar and keep current state on page reload
    //retrieve current state
    // $('#sidebar').toggleClass(window.sessionStorage.toggled);

    // /* Toggle */
    // $('#sidebarCollapse').on('click',function(){

    //    if (window.sessionStorage.toggled != "active" ) {
    //       $('#sidebar').toggleClass("active", true );
    //       window.sessionStorage.toggled = "active";

    //    } else {
    //       $('#sidebar').toggleClass("active", false );
    //       window.sessionStorage.toggled = "";
    //    }

    // });

    // Get current window path
    currentPath = window.location.pathname;

    // Add active class to current selected anchor
    $("a[href='" + currentPath + "']").addClass("active");

    // Expand sidebar first level submenus for current selected anchor
    $("a[href='" + currentPath + "']").closest('ul .submenu').collapse('show');

    // Expand sidebar second level submenus for current selected anchor
    $("ul.submenu-two a[href='" + currentPath + "']").closest('ul').collapse('show');

    // Add active class to sidebar icon
    $("a[href='" + currentPath + "']").closest('.main-menu-li').find('.icon').addClass('active');


});
</script>

</body>
</html>
